<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.somemall.dao.InsDao">
	<insert id="insertIntoDB">
		INSERT INTO 
	mall_item(itemname,catid,price,num,displayname)
	VALUES (#{0},#{1},#{2},#{3},#{4})
	</insert>
</mapper>